// GLOBAL VARIABLES
:root {
  // grid
  --grid-edge: 0.58fr;

  @media only screen and (min-width: 75em) {
    --grid-edge: 0.9fr;
  }
}

// MIXINS
@mixin flex {
  display: flex;
  flex-direction: column;
}

// RESPONSIVE BREAKPOINTS
$bp-xl: 75em; //   1200px / 16 = 75em
$bp-l: 61em; //   976px / 16 = 61em
$bp-m: 37.5em; //   600px / 16 = 37.5em
$bp-s: 23.4375em; //   375px / 16 = 23.4375em
