// GLOBAL RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

img {
    min-width: auto;
    max-width: 100%;
    display: block;
  }

a {
    text-decoration: none;
    color: inherit;
}

// GRID CONTAINER
.container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: [full-start] var(--grid-edge) [middle-start] repeat(6, 1fr) [middle-end] var(--grid-edge) [full-end];
}

.container-section {
    display: grid;
    grid-template-columns: [full-start] var(--grid-edge) [middle-start] repeat(6, 1fr) [middle-end] var(--grid-edge) [full-end];
}